{{> head}}

  {{> navbar}}
  
  <div class="row">
    <div class="col-8">
      <h1>El Pinche Victor</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor officiis est ex, cupiditate rerum fuga placeat, dolore, tempora excepturi quasi eveniet qui facere! Esse corporis accusamus porro suscipit quos.</p>
    </div>
    <div class="col-4">
      <img src="assets/img/vic2.jpg" alt="Imagen" class="img-thumbnail">
    </div>
  </div>

{{> footer}}